<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-12 auth-form-section mx-auto">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg text-center"> Fineract Frontend</h2>
          <div class="d-flex justify-content-between lbl-alert mb-3 mt-5">
            <div>
              <button mat-raised-button color="primary" type="button" (click)="adminSet();">Admin</button>
            </div>
            <div>
              <button mat-raised-button color="accent" type="button" (click)="employeeSet();">Employee</button>
            </div>
            <div>
              <button mat-raised-button color="warn" type="button" (click)="clientSet();">Client</button>
            </div>
          </div>
          <h2 class="login-title text-center">Sign in</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required')">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-5">
              <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                  class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>