<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Roles Management'" [items]="['Home', 'Roles']" [active_item]="'All Roles'">
      </app-breadcrumb>
    </div>

    <!-- Widgets -->
    <!-- <app-gen-widgets></app-gen-widgets> -->
    <!-- #END# Widgets -->

    <div class="card">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="boxs mail_listing">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="body">
                <div class="table-responsive">
                  <div class="materialTableHeader">
                    <div class="row">
                      <div class="col-8">
                        <ul class="header-buttons-left ms-0">
                          <li class="dropdown">
                            <h2>View Roles</h2>
                          </li>
                          <li class="dropdown m-l-20">
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                              class="browser-default search-field" aria-label="Search box">
                          </li>
                          <li>
                            <div class="m-l-10" matTooltip="ADD">
                              <button mat-mini-fab color="primary" (click)="addRoleCall()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="m-l-10" matTooltip="REFRESH">
                              <button mat-mini-fab color="primary" (click)="refresh()">
                                <mat-icon class="col-white">refresh</mat-icon>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <ul class="header-buttons">
                          <li>
                            <div class="export-button m-l-10" matTooltip="XLSX">
                              <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                  exporter.exportTable('xlsx', {
                                    fileName: 'assets-list',
                                    sheet: 'sheet1'
                                  })
                                " />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="CSV">
                              <img src="assets/images/icons/csv.png" alt="" (click)="exporter.exportTable('csv')" />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="JSON">
                              <img src="assets/images/icons/json.png" alt="" (click)="exporter.exportTable('json')" />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="TXT">
                              <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt')" />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                    #exporter="matTableExporter">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="psl-3 tbl-col-width-per-10">Id
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="psl-3 tbl-col-width-per-10">{{ row.id }}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        class="psl-3 tbl-col-width-per-25">Name</mat-header-cell>
                      <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-25">
                        {{ row.name }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="disabled">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-25">Status</mat-header-cell>
                      <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-25">
                        <div *ngIf="row.disabled == false">
                          <span class="badge badge-pill badge-primary col-green">
                            {{"True"}}</span>
                        </div>
                        <div *ngIf="row.disabled == true">
                          <span class="badge badge-pill badge-primary col-red">
                            {{"Inactive"}}</span>
                        </div>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-20">Desscription</mat-header-cell>
                      <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                        {{ row.description }}
                      </mat-cell>
                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell class="column-nowrap psl-3 tbl-col-width-per-20"
                        *matHeaderCellDef>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index" class="column-nowrap psl-3 tbl-col-width-per-20"
                        (click)="$event.stopPropagation()">
                        <!-- <button class="badge badge-solid-purple btn btn btn-sm m-1"
                        (click)="updateStatus(row)" [disabled]="row.postedBy == currentUser"><i class="fab fa-check"></i>Verify</button> -->
                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()" class="tbl-action-btn"
                          (click)="editRoleCall(row)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                          (click)="viewRoleCall(row)" class="tbl-action-btn">
                          <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-eye'"></app-feather-icons>
                        </button>
                        <button *ngIf="row.status == 1" mat-icon-button color="accent" (click)="$event.stopPropagation()"
                          (click)="deleteRoleCall(row)" class="tbl-action-btn">
                          <app-feather-icons [icon]="'lock'" [class]="'tbl-fav-lock'"></app-feather-icons>
                        </button>
                        <button *ngIf="row.status == 0" mat-icon-button color="success" (click)="$event.stopPropagation()" class="tbl-action-btn"
                          (click)="activateRole(row)">
                          <app-feather-icons [icon]="'unlock'" [class]="'tbl-fav-unlock'"></app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="viewRoleCall(row)"
                      [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                    <mat-cell *matNoDataRow colspan="4">
                      No data matching the filter "{{ input.value }}"</mat-cell>
                  </mat-table>
                  <!-- Loading spinner -->
                  <div *ngIf="isLoading" class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>


                  <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 2, 5, 10, 20, 30, 40, 50, 100]"
                    aria-label="Select page of users"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>