<div class="row clearfix">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="body">
        <div class="table-responsive">
            <p>
                <strong>
                    Follow the following guidelines to complete this process
                    successfully.
                </strong>
            </p>
            <ul>
                <li>
                    <i class="fas fa-angle-double-right m-l-10"></i>Download the excel template by clicking the link. <a href="#">Template</a> 
                </li>
                <li>
                    <i class="fas fa-angle-double-right m-l-10"></i>Populate all the cells with your user details
                </li>
                <li>
                    <i class="fas fa-angle-double-right m-l-10"></i>Upload the excel file
                </li>
            </ul>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-label>Upload Files</mat-label>
      
            <app-file-upload>
            </app-file-upload>
        </div>
      </div>
    </div>
  </div>
</div>
