<section class="content">
  <div class="content-block">
      <div class="block-header">
          <app-breadcrumb [title]="'USer Account Management'" [items]="['Admin']"
                          [active_item]="'Account Management'">
          </app-breadcrumb>
      </div>
      <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card mt-3">
                  <div class="header"></div>
                  <div class="body">
                      <div class="row mt-3">
                          <mat-tab-group (selectedTabChange)="onTabChange($event)">
                            <mat-tab label="All Accounts">
                                <br/>
                                <app-user-table [data]="allPaybillRecords"
                                                         title="All Accounts"
                                                         [title]="selectedTabTitle"
                                                         [displayedColumns]="tab1DisplayedColumns"
                                                         #tableRef></app-user-table>
                            </mat-tab>
                              <mat-tab label="Personal Accounts">
                                  <br/>
                                  <app-user-table [data]="settledManualCompletionRecords"
                                                           title="Personal Accounts"
                                                           [title]="selectedTabTitle"
                                                           [displayedColumns]="tab1DisplayedColumns"
                                                           #tableRef></app-user-table>
                              </mat-tab>
                              <mat-tab label="Joint Accounts">
                                  <br/>
                                  <app-user-table [data]="finSpilloverRecords" title="Joint Accounts"
                                                           [title]="selectedTabTitle"
                                                           [displayedColumns]="tab1DisplayedColumns"
                                                           #tableRef></app-user-table>
                              </mat-tab>
                              <mat-tab label="Company Accounts">
                                  <br/>
                                  <app-user-table [data]="webSpilloverRecords" title="Company Accounts"
                                                           [title]="selectedTabTitle"
                                                           [displayedColumns]="tab1DisplayedColumns"
                                                           #tableRef></app-user-table>
                              </mat-tab>
                              <mat-tab label="Group Accounts">
                                  <br/>
                                  <app-user-table [data]="verifedExceptionRecords" title="Group Accounts"
                                                           [title]="selectedTabTitle"
                                                           [displayedColumns]="tab1DisplayedColumns"
                                                           #tableRef></app-user-table>
                              </mat-tab>
                          </mat-tab-group>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
